html {
  min-height: 100%;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background-color: #00AEEF;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  text-align: center;
}

span {
  font-weight: 600;
}

.social {
  font-weight: normal;
  margin-left: 30px;
}

footer span img {
  margin-top: 20px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.preload {
  position: absolute;
  background-color: #65a6db;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  z-index: 200;
  img {
    margin-top: 250px;
  }
}

.cerrar {
  transform: translateX(200%);
  transition: all 0.5s;
}

#logo img {
  width: 400px;
  padding-top: 50px;
  padding-bottom: 80px;
}

#boton {
  margin-top: 30px;
  padding: 10px 50px 10px 50px;
  background-color: transparent;
  border-style: solid;
  border-radius: 30px;
  color: white;
  font-size: 0.8em;
  &:hover {
    color: black;
    background: white;
  }
}

footer {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  font-size: 0.95em;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 99%;
}

.center {
  justify-content: center;
}

.social a, #agencia a {
  color: white;
}

.home__intro {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.home__intro__logo {
  margin: auto;
  position: relative;
  z-index: 1;
  padding: 10px;
  overflow: hidden;
}

.home__intro__logo-dism {
  width: 253px;
  height: 67px;
}

.home__intro__logo {
  &.logo_large {
    fill: red;
    opacity: 0;
  }
  .overlay {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -300px;
    width: 100%;
    height: 100%;
    background: white;
  }
}

/*position: absolute;
bottom: 0;*/