@font-face {
  font-family: 'AfterNight';
  src: url('../fonts/AfterNight.eot');
  src: url('../fonts/AfterNight.eot') format('embedded-opentype'), url('../fonts/AfterNight.ttf') format('truetype'), url('../fonts/AfterNight.woff') format('woff'), url('../fonts/AfterNight.svg#AfterNight') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  min-height: 100vh;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #00AEEF;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.head{
  background-color: #006699;
  max-height: 30px;
}

.head-social_list{
  list-style: none;
}

.head-social_list li{
  display: inline-block;
  padding-top: 5px;
}

.social{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.fb{
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}


.navbar{
  background-color: #00AEEF;
  padding: 40px 0;
}

.nav-item a{
  font-size: 12px;
  font-weight: 500;
}

.cuestionica-logo {
  background-image: url("../img/cuestionica_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  width: 250px;
  height: 66px;
}

.banner-img{
  padding: 0 !important;
}

.team-action{
  padding-top: 60px;
  background-color: #130468 !important;
  padding-bottom: 60px;
}
.team-action_title {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.team-action_sub {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.team-content{
  margin-top: 280px;
  padding: 20px 15px;
}

.team-content p{
  line-height: 15px;
}

.mb40{margin-bottom:40px;}
.mb30{margin-bottom: 30px;}
.mb25{margin-bottom: 25px;}
.mb20{margin-bottom: 20px;}
.mb15{margin-bottom: 15px;}
.mb10{margin-bottom: 10px;}
.mb05{margin-bottom: 5px;}

.mt50{margin-top:50px;}
.mt40{margin-top:40px;}
.mt30{margin-top: 30px;}
.mt25{margin-top: 25px;}
.mt20{margin-top: 20px;}
.mt15{margin-top: 15px;}
.mt10{margin-top: 10px;}
.mt05{margin-top: 5px;}


.p50{padding:50px;}
.p45{padding:45px;}
.p40{padding:40px;}
.p35{padding:35px;}
.p30{padding: 30px;}
.p25{padding: 25px;}
.p20{padding: 20px;}
.p15{padding: 15px;}
.p10{padding: 10px;}
.p05{padding: 5px;}

.pb50{padding-bottom:50px;}
.pb45{padding-bottom:45px;}
.pb40{padding-bottom:40px;}
.pb30{padding-bottom: 30px;}
.pb25{padding-bottom: 25px;}
.pb20{padding-bottom: 20px;}
.pb15{padding-bottom: 15px;}
.pb10{padding-bottom: 10px;}
.pb05{padding-bottom: 5px;}

.pt50{padding-top:50px;}
.pt40{padding-top:40px;}
.pt30{padding-top: 30px;}
.pt25{padding-top: 25px;}
.pt20{padding-top: 20px;}
.pt15{padding-top: 15px;}
.pt10{padding-top: 10px;}
.pt07{padding-top: 7px;}
.pt05{padding-top: 5px;}

.pl40{padding-left:40px;}
.pl30{padding-left: 30px;}
.pl25{padding-left: 25px;}
.pl20{padding-left: 20px;}
.pl15{padding-left: 15px;}
.pl10{padding-left: 10px;}
.pl05{padding-left: 5px;}

.pr40{padding-right:40px;}
.pr30{padding-right: 30px;}
.pr25{padding-right: 25px;}
.pr20{padding-right: 20px;}
.pr15{padding-right: 15px;}
.pr10{padding-right: 10px;}


.s5{font-size: 5px;}
.s10{font-size: 10px;}
.s15{font-size: 15px;}
.s20{font-size: 20px;}
.s25{font-size: 25px;}
.s30{font-size: 30px;}
.s35{font-size: 35px;}
.s40{font-size: 40px;}
.s45{font-size: 45px;}
.s50{font-size: 50px;}
.s55{font-size: 55px;}
.s60{font-size: 60px;}
.s65{font-size: 65px;}
.s70{font-size: 70px;}
.s75{font-size: 75px;}
.s80{font-size: 80px;}
.s85{font-size: 85px;}


.f-bold{font-weight: 800;}
.f-light{font-weight: 400;}
.f-regular{font-weight: 200;}

.title-after {
  font-family: 'After Night';
}

.cblack{color: #000000;}
.cwhite{color: #FFFFFF;}
.cblu-light{color: #00abeb;}
.cviolet{color: #1b1464;}

.bg-white{background-color: #FFFFFF;}
.bg-gray{background-color: #b6b6b6;}
.bg-violet{background-color: #1b1464;}
.bg-blulight {background-color: #00aeef;}
.bg-bludark {background-color: #1b1464;}


.banner-forest{
  background-image: url("../img/quienes-somos_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

.banner-personas {
  background-image: url("../img/banner_contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.team-block { margin-bottom: 20px; }
.team-img { position: relative; min-height: 473px;}
.team-img img { width: 100%; }

.product-img{
  background-image: url("../img/pro.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 15px
}

.motivation-img{
  background-image: url("../img/motivation.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 15px
}


.comunication-img {
  background-image: url("../img/comunication.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 15px
}

.themes-work{
  background-color: #FFFFFF;
}

.themes-work_title{
  color: #1b1464;
  padding-top: 60px;
}

.themes-work_sub{
  color: #1b1464;
  font-size: 25px;
  font-weight: 400;
  line-height: 8px;
  padding-right: 420px;
}

footer{
  background-color: #00AEEF;
}

.footer-copy{
  background-image: url("../img/instagram.png");
  font-size: 14px;
  font-weight: 300;
}

.instahome {
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.insta {
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.facebook {
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.location {
  background-image: url("../img/location-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon-phone {
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.social-list{
  list-style: none;
}

.social-list li{
  display: inline-block;
}

.services-profiles{
  background-color: #FFFFFF;
}

.services-profiles {
  background-image: url("../img/banner-servicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.icon-person {
  background-image: url("../img/person-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 60px;
  background-position: center center;
  display: inline-block;
}

.icon-company {
  background-image: url("../img/empresas-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 45px;
  background-position: center center;
  display: inline-block;
}
.img-personas{
  background-image: url("../img/personas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img-empresas{
  background-image: url("../img/empresas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.profile{
  min-height: 600px;
}

.profile a{
  position: absolute;
  top: 65%;
  left: 5%;
  color: #FFFFFF;
  font-size: 28px;
  text-decoration: none;
  background-color: #1b1464;
  padding: 20px 15px;
  line-height: inherit;
}

.title-des{
  max-width: 450px;
  padding: 20px;
  background-color: #5a318b;
  margin-top: 45vh;
  display: inline-block;
}


.title-personas {
  max-width: 450px;
  padding: 20px;
  background-color: #1b1464;
  margin-top: 45vh;
  display: inline-block;
  text-transform: uppercase;
}

.des-personas {
  background-color: #1b1464;
  text-transform: uppercase;
  padding: 15px;
}

.complement-img {
  background-color: #00AEEF;

}
.complement-empresas {
  background-color: #00AEEF;
}


.complement-talleres {
  background-image: url("../img/personas-icon1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.talleres {
  background-image: url("../img/personas-icon1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.ejes{
  padding-top: 50px;
  background-color: #FFFFFF;
}

.program-content{
  padding: 50px 30px 0 30px;
}

.program-text{
  background-image: url("../img/bg-title_program.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding:140px 0;
  color: #1b1464;
  font-size: 25px;
  line-height: 30px;
}

.program-sub{
  margin-top: 35px;
  color: #dcdcdc;
  font-size: 22px;
  padding: 10px 0 ;
  line-height: 22px;
  padding-right: 10px;
  background-color: #5a318b;
}

.program-img{
  padding-top: 50px;
  padding-left: 50px;
}



.title-team{
  text-align: center;
}


.subtitulo{
  line-height: 12px;
}
.quote{
  font-style: italic;
  font-weight:200;
}

.clients {
  background-color: #FFFFFF;
}

.clients-list{
  display: inline-block;
}

.bienestar {
  background-image: url("../img/bienestar-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: inline-block;
  width: 63px;
  height: 80px;
}

.madrid{
  background-image: url("../img/fundacion-real.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: inline-block;
  width: 105px;
  height: 45px;
}

.caracol {
  background-image: url("../img/caracol-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: inline-block;
  width: 121px;
  height: 60px;
}

.team{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1b1464;
  background-image: url("../img/equipo-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.box-item{
  min-height: 500px;
}


.team-action .team-content:after, .team-action .team-content:before {
  content: "";
  width: 91%;
  height: 32px;
  display: inline-block;
  position: absolute;
  background: #1b1464;
  z-index: 0;
}

.team-content:after {
  left: 15px;
  bottom: 28px;
  transform: rotate(2deg);
}
.team-action .team-content:before{
  left: 15px;
  top: 272px;
  transform: rotate(-2deg);
}

.team-action .eco:last-child .team-content:after, .team-action .eco:first-child .team-content:after {
  height: 12px;
}
.cursos{
  background-color: #00abeb;
}
.sub-curso{
  vertical-align: middle;
}

.cursos-des{
  vertical-align: middle;
}
.icon-cuest {
  background-image: url("../img/icon-cuest.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.dwn-button{
  padding: 20px 30px;
}
//@media  {
//
//}

/* image thumbnail */
.thumb {
  display: block;
  width: 100%;
  margin: 0;
}

/* Style to article Author */
.by-author {
  font-style: italic;
  line-height: 1.3;
  color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
  width: 482px;
  height: 350px;
  position: relative;
  margin-bottom: 1em;
}

.featured-article .block-title {
  /* Position & Box Model */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* background */
  background: rgba(0,0,0,0.7);
  /* Width/Height */
  padding: .5em;
  width: 100%;
  /* Text color */
  color: #fff;
}

.featured-article .block-title h2 {
  margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
  padding-left: .5em;
}

.main-list .media {
  padding-bottom: 1.1em;
  border-bottom: 1px solid #e8e8e8;
}

/*CLOSE*/