body{
  background-color: #00AEEF;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.head{
  background-color: #006699;
  max-height: 30px;
}

.head-social_list{
  list-style: none;
}

.head-social_list li{
  display: inline-block;
  padding-top: 5px;
}

.social{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.fb{
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.in{
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.navbar{
  padding: 40px 0;
}

.nav-item a{
  font-size: 12px;
  font-weight: 500;
}

.banner-img{
  padding: 0 !important;
}

.team-action{
  padding-top: 60px;
  background-color: #130468 !important;
  padding-bottom: 60px;
}
.team-action_title {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.team-action_sub {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.mb40{margin-bottom:40px;}
.mb30{margin-bottom: 30px;}
.mb25{margin-bottom: 25px;}
.mb20{margin-bottom: 20px;}
.mb15{margin-bottom: 15px;}
.mb10{margin-bottom: 10px;}
.mb05{margin-bottom: 5px;}

.mt50{margin-top:50px;}
.mt40{margin-top:40px;}
.mt30{margin-top: 30px;}
.mt25{margin-top: 25px;}
.mt20{margin-top: 20px;}
.mt15{margin-top: 15px;}
.mt10{margin-top: 10px;}
.mt05{margin-top: 5px;}

.pb40{padding-bottom:40px;}
.pb30{padding-bottom: 30px;}
.pb25{padding-bottom: 25px;}
.pb20{padding-bottom: 20px;}
.pb15{padding-bottom: 15px;}
.pb10{padding-bottom: 10px;}
.pb05{padding-bottom: 5px;}

.pt40{padding-top:40px;}
.pt30{padding-top: 30px;}
.pt25{padding-top: 25px;}
.pt20{padding-top: 20px;}
.pt15{padding-top: 15px;}
.pt10{padding-top: 10px;}
.pt07{padding-top: 7px;}
.pt05{padding-top: 5px;}

.pl40{padding-left:40px;}
.pl30{padding-left: 30px;}
.pl25{padding-left: 25px;}
.pl20{padding-left: 20px;}
.pl15{padding-left: 15px;}
.pl10{padding-left: 10px;}
.pl05{padding-left: 5px;}

.pr40{padding-right:40px;}
.pr30{padding-right: 30px;}
.pr25{padding-right: 25px;}
.pr20{padding-right: 20px;}
.pr15{padding-right: 15px;}
.pr10{padding-right: 10px;}
.pr05{padding-right: 5px;}

.team-block { margin-bottom: 20px; }
.team-img { position: relative; }
.team-img img { width: 100%; }

.themes-work{
  background-color: #FFFFFF;
}

.themes-work_title{
  color: #1b1464;
  font-size: 45px;
  font-weight: 800;
  padding-top: 60px;
}

.themes-work_sub{
  color: #1b1464;
  font-size: 30px;
  font-weight: 400;
}

.footer-copy{
  font-size: 14px;
  font-weight: 300;
}

.social-list{
  list-style: none;
}

.social-list li{
  display: inline-block;
}

.services-profiles{
  background-color: #FFFFFF;
}

.img-personas{
  background-image: url("../img/square.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.profile{
  min-height: 600px;
}

.profile img{
  position: absolute;
  top: 65%;
  left: 5%;
}

.bg-title{
  position: absolute;
}