body{
  background-color: #00AEEF;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.head{
  background-color: #006699;
  max-height: 30px;
}

.head-social_list{
  list-style: none;
}

.head-social_list li{
  display: inline-block;
  padding-top: 5px;
  text-align: center;
}

.social{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.fb{
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.in{
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.navbar{
  padding: 40px 0;
}

.nav-item a{
  font-size: 12px;
  font-weight: 500;
}

.banner-img{
  padding: 0 !important;
}

.forest-img{
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}