html {
  min-height: 100%;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #00AEEF;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  color: #fff;
  text-align: center;

}

.colsplit {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
}

/*Start Preloader Animation*/
.preload {
  position: absolute;
  background-color: #00AEEF !important;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cerrar {
  transform: translateX(400%);
  transition: all 0.5s;
  display: none;
}

.header{
  width: 375px;
  padding-top: 40px;
  position: relative;
  height: 98px;
  margin: 0 auto;
}
.logo_head{
  background-image: url("../img/cuestionica_logo.png");
  width: 100%;
  height: 98px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

}

.logo_min{
  background-image: url('../img/cuestionica_large.png');
  width: 220px;
  height: 140px;
  display: none;
  position: absolute;
  margin-top: -70px;
  margin-left: -110px;
  top:50%;
  left:50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

}

.siko{
  display: block;
  transition: all 0.5s;
}

/*Estilos base*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  --color-text: #fff;
  --color-link: #f0f0f0;
  --color-link-hover: #fff;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

a:focus,
button:focus {
  outline: none;
}

.home__intro{
  position: absolute;
  z-index: 100;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: flex;
  overflow: hidden;
}

.home__intro__logo {
  margin:auto;
  position: relative;
  z-index: 1;
  padding: 30px 60px;
  overflow: hidden;
}

.logo_large{
  fill: red;
  opacity: 1;
}

.overlay {
  position: absolute;
  z-index: 1;
  top:0;
  left: -300px;
  width:100%;
  height:100%;
  background: white;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.icon--keyboard {
  display: none;
}

main {
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 79vh;
}

.footer_list{
  font-family: 'Josefin Sans Regular' sans-serif;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

.footer_list li{
  display: inline-block;
  padding: 0 10px;
}

.social{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.fb {
  background-image: url("../img/facebook_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.in {
  background-image: url("../img/instagram_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}


@media screen and(max-width: 375px) {
  .logo_head{
    background-size: 40%;
  }
}

@media screen and(max-width: 480px) {
  .logo_head{
    background-size: 70%;
  }
}

@media screen and(max-width: 880px) {
  .logo_head{
    background-size: 70%;
  }
}

/*Estilos base fin*/


 /*Pieces Slider Start*/
.pieces-slider {
  position: relative;
  text-align: center;
  padding: 0;
}

.js .pieces-slider {
  padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
  position: absolute;
  right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
  max-width: 600px;
  max-height: 400px;
}

.js .pieces-slider__image {
  visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
  /*text-indent: -9999px;*/
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
  position: relative;
  width: 100vw;
  height: 78vh;
  transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
  opacity: 0;
  transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -25px 35px 0 0;
  background-color: transparent;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.1s background-color;
}


.pieces-slider__button--next {
  left: auto;
  right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
  display: none;
}

/* Media queries with styles for smaller screens */

@media screen and (max-width: 480px) {
.js .pieces-slider__canvas {
  height: 50vh;
}
}

@media screen and (max-width: 375px) {
  .header{
    width: 250px;
  }
}

@media screen and(max-width: 375px) {
  .logo_head{
    background-size: 40%;
  }
}

@media screen and(max-width: 480px) {
  .logo_head{
    background-size: 70%;
  }
}

@media screen and(max-width: 880px) {
  .logo_head{
    background-size: 70%;
  }
}

@media screen and (max-width: 720px) {
  .pieces-slider__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 880px){
  .pieces-slider__image {
    max-width: 400px;
  }
}

@media screen and (max-width: 55em) {
  .pieces-slider__canvas {
    width: 100vw;
    height: 100vw;
  }
  .pieces-slider__button {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 55em) {
  body {
    overflow: auto;
  }
  .content {
    flex-direction: column;
    height: auto;
    min-height: 0;
  }
}
/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
  .pieces-slider__image {
      max-width: 300px;
  }
}

@media screen and (max-width: 55em) {
  .pieces-slider__canvas {
      width: 100vw;
      height: 100vw;
  }
  .pieces-slider__button {
      width: 60px;
      height: 60px;
  }
}
@media screen and (max-width: 55em) {
  body {
    overflow: auto;
  }
  .content {
    flex-direction: column;
    height: auto;
    min-height: 0;
  }
}
